{# src/FrontendBundle/Resources/views/Pages/index.html.twig #}

{% extends 'FrontendBundle::frontend-layout.html.twig' %}

{# Contenu spécifique de la page #}
{% block content %}<a href="{{ path('dashboard') }}">admin</a>{% endblock %}
