{# src/Frontend/Resources/views/Pages/index.html.twig #}

{% extends 'FrontendBundle::frontend-layout.html.twig' %}

{# Contenu spécifique de la page #}
{% block content %}<a href="#">admin</a>{% endblock %}
