{# src/Frontend/Resources/views/Shared/frontend-header.html.twig #}

<header id="header">

  <div id="logo-group">
    <span id="logo"> <img src="{{ asset('bundles/frontend/img/' ~ siteLogo )}}" alt="SmartAdmin"> </span>
  </div>

  <span id="extr-page-header-space"> <span class="hidden-mobile hidden-xs">Besoin d'un compte ?</span> <a href="register.html" class="btn btn-danger">Créer un compte</a> </span>

</header>
