<!-- fullscreen button -->
<div id="fullscreen" class="btn-header transparent pull-right">
    <span> <a href="javascript:void(0);" data-action="launchFullscreen" title="Plein Ecran"><i class="fa fa-arrows-alt"></i></a> </span>
</div>
<!-- end fullscreen button -->
